:root {
    --negro: #001514;
    --blanco: #FBFFFE;
    --azulFuerte: #46B1C9;
    --azulClaro: #84C0C6;
    --gris: #9FB7B9;
    --grisFondo: #BCC1BA;
}

.main {
    width: 70%;
    margin: 0 auto;
    gap: 3rem;
}

.titulo {
    text-align: center;
}

.contacto {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 2rem auto 5rem auto;
}

input, textarea {
    font-family: 'Montserrat', sans-serif;
}

.contacto__input {
    border-radius: 1rem;
    border: 2px solid var(--azulClaro);
    height: 2.7rem;
    margin-bottom: 3rem;
}

.contacto textarea {
    height: 10rem;
    margin-bottom: 2rem;
}

.botonForm {
    cursor: pointer;
    font-size: 2rem;
    width: 28rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid var(--azulFuerte);
    border-radius: 1.1rem;
    margin: 0 auto;
    background-color: var(--azulFuerte);
    transition: .3s;
    color: var(--blanco);
    height: 3.5rem;
}

.botonForm:hover {
    color: var(--negro);
    background-color: inherit;
}

.ubicacion {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.ubicacion__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

iframe {
    width: 70%;
}

@media (min-width: 768px) {
    .main {
        display: flex;

    }
    iframe {
        width: 100%;
    }
}